facebook:
  cookie_file: "path/to/facebook.cookies"
  groups:
    - "GroupID1"
    - "GroupID2"
scheduler:
  interval_minutes: 15
keywords:
  - FS
  - FT
  - PSA
  - BGS
  - Auto
  - Patch
  - "$"
twilio:
  account_sid: "YOUR_TWILIO_SID"
  auth_token: "YOUR_TWILIO_TOKEN"
  from_whatsapp: "whatsapp:+14155238886"
  to_whatsapp: "whatsapp:+<YourNumber>"
